
/* Selector Universal */
*{
    margin: 0;
    padding: 0;
}

/* Selector de etiqueta */
body{
    background-color:rgba(150, 150, 150, 0.993);
    color:rgba(59, 59, 59, 0.801);
    
}

/* Selector de ID*/
#Menu{
    height: 60px;
    background-color:rgb(180, 180, 180);
    margin: 0.5em;
    border-radius: 7px;
    align-items: center;

}

#Contenedor{
    width: 1500px; 
    height: 2250px;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* Selector de ID */
#Encabezado{
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

/* Selector de Etiqueta */
ul{
    padding: 10px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}


li a:hover{
    color: rgb(221, 0, 0);
    font-size: 15px;
    text-decoration:  none;
    list-style: none;
}

/* Selector de Clase */


.texto{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #000000;
}



.pie{
    height: 35px;
    background-color: rgba(0, 0, 0, 0.993);
    margin: 0.5em;
    text-align: center;
    padding: 3px;
}

.pie h4{
    padding: 10px;
    font-size: 15px;
    background-color: #a5a5a5;
    color: #000000;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 8, 8, 0.63);
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    color: #000000;
    background-color: white;
}
.card1{
    box-shadow: 0 4px 8px 0 rgba(0, 8, 8, 0.63);
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    color: #000000;
    background-color: white;
}

.card:hover{
    max-width: 410px;
}

.card img{
    background-color: white;
}

.card h2{
    font-family: "Lancelot", serif;
  font-weight: 400;
  font-style: normal;
}

html{
    scroll-behavior: smooth;
}

button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #000000ef;
    background-color: rgba(145, 145, 145, 0.925);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 10px;
}

button:hover{
    color: red;
}

.ContenedorFlex{
    display: flex;
    width: 1300px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(71, 71, 71);
    padding: 10px;
    border: 2px solid black;
    text-align: end;
    justify-content: start;
}

.item{
    background-color: rgb(0, 238, 255);
    width: 100px;
    margin: 10px;
    border: 2px solid;
    text-align: center;
    line-height: 25px;
    font-size: 25px;


}

.linea{
    width: 100%;
    height: 2px;
    background-color: rgba(145, 145, 145, 0.925);
    margin: 10px auto;
}

